.# {
    margin: 10px;
}

.box {
    width: 99%;
    height: 96vh;
    background-color: rgba(185, 180, 180, 1);
    border-radius: 25px;
    display: flex;
    align-items: top;
    justify-content: center;
    padding: 10px;
}

.header1 {
    height: 100px;
    width: 1870px;
    background-color: rgba(167, 160, 160, 1);
    border-radius: 25px;
}
a {
    text-decoration: none;
    color: black;
}