<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    body {
        height: 90vh;
        width: 100%;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        display: flex;
    }

    .banner {
        background-color: #000;
        color: #fff;
        padding: 20px;
        font-size: 30px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        border-radius: 25px;
    }
</style>

<body>
    <body>
        <div class="banner">Start von meiner Website du Huen</div>
    </body>
</body>
</html>